		<!-- Forgot Pass -->
			<div ng-controller="PassresetController">
				<div class="container" style="margin-top:20px;">
					<form class="form-signin" role="form">
						<p>Please enter your email address so we can send you an email to reset your password.</p>
  					<p><input required type="email" class="form-control" placeholder="Email"></p>
  					<p><button type="submit" class="btn btn-lg btn-info btn-block">Send</button></p>
 	  				<p><a href="#/login"><span class="glyphicon glyphicon-chevron-left"></span> Back to Login</a></p>
  				</form>
  			</div>
			</div>
		<!-- /Forgot Pass -->
